@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'iranyekan';
  direction: rtl; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="tel"]::placeholder {
  color: yellow; 
}
input[type="number"]::placeholder {        
  text-align: center;

}
input[type="number"]{        
  text-align: center;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@media (max-width: 768px) {
h2{
  font-size: 1.5rem !important;
}
h3{
  font-size: 1.2rem !important;
}
}
